## maven specific ##
*.log
target/
**/target/
build/
bin/
**/bin/

## java specific ##
*.class

# Package Files #
*.jar
*.war
*.ear

## eclipse specific ##
.classpath
.project
.wtpmodules
.settings
.checkstyle

## Intellij ##
.idea/
*.iml
*.iws

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Git
.README.md.html
